* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/gray-textured-wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #151515;
  color: #fff;
}

.menu-container {
  background-color: #212121;
  opacity: 0.9;
  padding: 1em;
}

.menu-items {
  margin: 0 auto;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 1em;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  color: #ffc000;
}

.links {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
  text-decoration: none;
  cursor: pointer;
  gap: 1em;
}

.links a:hover {
  color: #ffc000;
}

.main-container {
  height: 100%;
  background-color: #151515;
  opacity: 0.8;
  padding: 1em;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.hero-content {
  width: 80%;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

.hero-heading {
  color: #ffc000;
  font-size: 25px;
  font-weight: bold;
}

.hero-image {
  width: 80%;
}

.hero-image > img {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.cto-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}

.btn-cto {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  cursor: pointer;
}

.btn-cto:hover {
  color: #ffc000;
  font-weight: bold;
}

.cto-description {
  font-size: 10px;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

.footer-container {
  font-size: 10px;
  color: #ffc000;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 20px;
  background-color: #151515;
  opacity: 0.9;
}

.horizontal-line {
  border: 1px solid #ffc000;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .hero-container {
    padding: 120px 0 120px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 5em;
  }

  .hero-image {
    width: 40%;
  }

  .hero-content {
    width: 60%;
  }
}

@media only screen and (min-width: 961px) {
  .hero-container {
    padding: 150px 0 150px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 3em;
  }
  .hero-image {
    width: 60%;
  }

  .hero-content {
    gap: 2em;
    width: 40%;
  }

  .hero-heading {
    font-size: 40px;
  }
  .hero-tagline {
    font-size: 20px;
  }

  .cto-description {
    font-size: 15px;
    padding: 1em;
  }

  .btn-cto {
    padding: 1.5em;
    font-size: 15px;
  }

  .footer-container {
    font-size: 15px;
  }

  .menu {
    width: 70%;
    margin: 0 auto;
  }

  .links {
    font-size: 20px;
  }
}
